{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN IN | SIM2REAL</title>
    <link rel="stylesheet" href="{%static "accounts/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/sim2real_logo.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/sim2real_logo.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/sim2real_logo.png' %}">
<link rel="shortcut icon" href="{% static 'assets/sim2real_logo.png' %}">

</head>
<body>
<div class="overlay"></div>
<div class="login-wrap">
    <div class="login-html">
        <strong class="page-type" id="type">Sign In</strong>
        <div class="login-form">
            <form class="sign-in-htm" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="group">
                    <label for="email" class="label">Email Id</label>
                    <input name="email" id="email" type="text" class="input" required>
                </div>
                <div class="group">
                    <label for="password" class="label">Password</label>
                    <div class="password-field">
                        <input name="password" id="password" class="input" type="password" required>
                        <span class="toggle-password" data-toggle="#password"><i class="fa fa-eye"></i></span>
                    </div>
                </div>
                <div class="group">
                    <button id="submit" class="button" type="submit">SIGN IN</button>
                </div>
                {% if login_error %}
                <div class="error-message">
                    {{ login_error }}
                </div>
                {% endif %}
                <div class="hr"></div>
                {% if messages %}
                <ul>
                {% for message in messages %}
                    <li style="color: green;">{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <div class="foot-lnk">
                    <a href="{%url 'request_otp'%}">Forgot Password?</a>
                </div>
                <div class="foot-lnk">
                    <a href="{% url 'signup' %}">Don't Have an Account?</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
